.app {
    height: 100vh;
    display: flex;
}

.nav {
    width: 32vw;
    min-width: 280px;
    height: 100%;
}

.space {
    height: 100%;
    border: 1px solid rgb(248, 248, 248);
}

.main {
    width: 100%;
}

.main__nav {
    height: var(--nav-height);
    width: 100%;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    display: flex;
}

.main__body {
    height: calc(100vh - var(--nav-height));
    width: 100%;
}

.nav__head {
    display: flex;
    height: var(--nav-height);
    width: 100%;
    padding: 10px;
}

.nav__head__menu {
    font-size: 2rem;
    width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
}

.nav__head__menu__icon {
    margin: auto;
}

.nav__head__menu:hover {
    background-color: #eee;
    border-radius: 50%;
}

.nav__head__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    height: 48px;
    flex: 1;
}

.nav__head__title > a {
    text-decoration: none;
    cursor: pointer;
}

.bx-edit {
    font-size: 1.6rem;
    margin-top: 13px;
}

.nav__list {
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(248, 248, 248, 1);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
}

.list__item {
    margin: 2px 6px;
    height: 80px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
}

.item__avatar__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
}

.item__user {
    margin: auto 6px;
    flex: 1;
}

.item__user__name {
    font-size: 1.2rem;
}

.item__user__mess {
    color: #888;
}

.item__status {
    margin: auto 10px;
    font-size: 0.8rem;
}

.item__time {
    color: #aaa;
}

.item__status > i {
    margin: 0 10px;
    font-size: 1.2rem;
}

.item--active {
    background-color: rgba(240, 240, 240, 0.8);
}

.list__item:hover {
    background-color: rgba(240, 240, 240, 0.6);
}

.nav__user__avatar__img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 8px 16px;
}

.nav__user {
    margin: auto 0;
    flex: 1;
}

.nav__user__name {
    font-size: 1.2rem;
}

.nav__user__status {
    font-size: 0.8rem;
    color: #aaa;
}

.nav__icon__list {
    display: flex;
    margin-right: 10px;
}

.nav__icon__item {
    font-size: 1.48rem;
    width: 40px;
    height: 40px;
    margin: 10px 4px;
    cursor: pointer;
}

.nav__icon__item > i {
    color: #666;
    margin: 8px;
}

.nav__icon__item:hover {
    background-color: #eee;
    border-radius: 50%;
}

.main__body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.6) 0%, rgba(148,187,233,0.4) 100%);
}

.messenger {
    height: 100%;
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.messenger__list {
    width: 100%;
    height: calc(100% - 68px);
    overflow-y: auto;
}

.messenger__list::-webkit-scrollbar {
    display: none;
}

.messenger__item {
    background-color: #fff;
    line-height: 18px;
    margin: 4px 8px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 68%;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1.12rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 50px;
}

.messenger__item.user {
    margin-left: auto;
}

.messenger__control {
    height: 48px;
    width: calc(100% - 16px);
    margin: 8px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.messenger__icon {
    display: flex;
    margin-left: 8px;
}

.messenger__control  i {
    font-size: 1.4rem;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 8px 0;
    cursor: pointer;
}

.messenger__input {
    flex: 1;
    margin: 0 8px;
    border: none;
    outline: none;
    font-size: 1.12rem;
    font-family: 'Fredoka', sans-serif;
}

.messenger__control  i:hover {
    background-color: #eee;
    border-radius: 50%;
}

.messenger__list-icon > i {
    margin-right: 8px;
}

@media (max-width: 86em) and (min-width: 64.0625em) {
    .messenger {
        max-width: 600px;
    }
}

@media (max-width: 64em) {
    .messenger {
        max-width: 100%;
    }
}

@media (max-width: 64em) and (min-width: 46.25em) {

}

@media (max-width: 46.1875em) {

}
